/* Content --------------------------------------- */

a,
.link {
    color: #67a55d;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: #30260d;  /* #3d3111 */
}

h3 {
    color: #e0c98f;
    font-family: BasicManual, monospace;
    font-weight: bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.contact > h3 {
    margin-top: 2em;
}

h3 a {
    padding: 0 0.1em;
    color: #e0c98f;
    letter-spacing: 0.12em;
    -webkit-tap-highlight-color: #23391f;
}

p,
ul {
    letter-spacing: 0.02em;
}

ul {
    padding-left: 0;
}

#content em {
    color: #52854a;
}


/* Roll ------------------------------------------ */

#roll h3 {
    margin-top: 5.5em;
    white-space: nowrap;
    /* scroll-snap-coordinate: 0 0; */
}

#roll h3:first-of-type {
    margin-top: 4em;
}

#roll p:last-of-type {
    -webkit-margin-after: 5.15em !important;
    margin-bottom: 6.5em;
}

.front-end #roll h3 {
    margin-top: 6.5em;
}

.front-end #roll h3:first-of-type {
    margin-top: 1.5em;
}

.more,
.science,
.language,
.psychology,
.wilderness {
    overflow-y: scroll;
}

.science p:first-of-type,
.language p:first-of-type,
.psychology p:first-of-type,
.wilderness p:first-of-type {
    margin-top: 0;
}

.science #roll p:last-of-type,
.language #roll p:last-of-type,
.psychology #roll p:last-of-type,
.wilderness #roll p:last-of-type {
    margin-bottom: 0.5em !important;
}


/* Blurb ----------------------------------------- */

.project-image,
.blurb {
    display: inline-block;
    width: 45%;
    height: 100%;
}

.blurb.left {
    float: left;
}

.blurb.right {
    width: 43.5%;
    float: right;
}

.blurb h3 {
    margin-top: 0;
    font-size: 0.9em;
}

.blurb ul {
    margin-top: 0;
    text-align: left;
    list-style-type: disc;
    font-size: 0.9em;
}

.blurb.right p {
    text-align: left;
}


/* Images ---------------------------------------- */

#sig {
    width: 50%;
    margin-top: 0.5em;
    filter: brightness(0.8);
}

.project-image {
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 0.3em;
    box-sizing: border-box;
}

.project-image {
    cursor: pointer;
    font-size: 0.65em;
    background-color: transparent;
    background-size: cover;
    box-shadow: 0 0 0.1em #0090bb;
}

#word-image {
    background-image: url('images/word.jpg');
    filter: sepia(0.33);
}

#street-art-image {
    background-image: url('images/street-art.jpg');
    filter: sepia(0.33);
}

#policompass-image {
    background-image: url('images/policompass.jpg');
    filter: sepia(0.66);
}

#slickpics-image {
    background-image: url('images/slickpics.jpg');
    filter: sepia(0.5);
}

#storytime-image {
    background-image: url('images/storytime.jpg');
    filter: sepia(0.66);
}

#avonbridge-image {
    color: #ffffed;
    background-image: url('images/avonbridge.jpg');
    background-position: 49% 0;
    filter: sepia(0.33);
}
