/* Fonts ----------------------------------------- */

@font-face {
    font-family: BasicManual;
    src: url('fonts/BasicManual.woff') format('woff'),
         url('fonts/BasicManual.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Guttenberg;
    src: url('fonts/Guttenberg.woff') format('woff'),
         url('fonts/Guttenberg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Outer Elements -------------------------------- */

body {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    background: #4e4a47;
    background: url('images/bg.jpg');
    transition: opacity 400ms;
    -webkit-tap-highlight-color: transparent;
}

#wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    text-align: center;
}

footer > .link {
    margin-left: 2em;
}

footer a,
footer .link {
    font: 400 0.8em Guttenberg, serif;
    letter-spacing: 0.04em;
    text-shadow: 0 -1px 2px #333, 0 1px 2px #222;
    color: rgba(217, 188, 116, 0.8);
    transition: color 80ms;
}

footer a:hover,
footer .link:hover {
    color: #d9bc74;
}

#avonbridge-frame,
#dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#dark {
    opacity: 0.2;
    pointer-events: none;
}

.dark {
    box-shadow: inset 0 0 500px black;
    box-shadow: inset 0 0 33vmax black;
}


/* Glitches -------------------------------------- */

.glitch-dark #dark {
    box-shadow: inset 0 0 1000px #001;
    box-shadow: inset 0 0 100vmax #001;
}

.glitch-dark #content {
    filter: brightness(0.5);
}

.glitch-snow #dark {
    box-shadow: inset 0 0 250px black;
    box-shadow: inset 0 0 20vmax black;
}

.glitch-snow #content {
    color: #85b77e;
    filter: brightness(1.2);
}
