/* Mech ------------------------------------------ */

#mech-wrapper {
    display: inline-block;
    position: relative;
    margin: -2.5% -3% 0 0;
}

#mech-wrapper > * {
    position: absolute;
}

#mech {
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* filter: drop-shadow(0 0 10px black); */
}


/* Screen ---------------------------------------- */

#content,
#snow,
#shadow {
    top: 28%;
    left: 20%;
}

#snow,
#shadow {
    width: 55.95%;
    height: 48.75%;
    pointer-events: none;
}

#snow {
    background: url('images/snow.gif');
}

#shadow {
    border-radius: 10%;
    box-shadow: inset 0 0 0.5em 0.35em black;
}

#content {
    width: 48.6%;
    height: 39.4%;
    padding: 4%;
    /* overflow: -moz-scrollbars-none; */
    font: normal 0.8em BasicManual, monospace;
    line-height: 1.2em;
    color: #5f9b56;
    background-color: #262626;
    /* scroll-snap-destination: 0 30%;
    scroll-snap-type: mandatory; */
}

/* #content::-webkit-scrollbar { 
    display: none; 
} */


/* Gears, etc. ----------------------------------- */

#gear-top {
    top: 12%;
    left: 53.3%;
    width: 20%;
    transition: transform 1.6s linear;
}

#gear-left {
    top: 37.1%;
    left: 5.5%;
    width: 15%;
}

#gear-bottom {
    bottom: 4%;
    left: 27.2%;
    width: 20%;
    transition: transform 2.4s linear;
}

#key {
    left: 1.5%;
    top: 59%;
    width: 9%;
    height: 18%;
    border-radius: 30% 50% 50% 30%;
    cursor: pointer;
}

#elec {
    top: 4.5%;
    left: 29%;
    width: 7.5%;
    visibility: hidden;
}


/* Buttons --------------------------------------- */

button {
    height: 2.8em;
    padding: 0.5em 0;
    white-space: nowrap;
    color: #222;
    font-weight: bold;
    font-family: Guttenberg, serif;
    text-shadow: 0 -1px #3b3427, 0 1px #f4f1e5;
    text-align: center;
    background: none;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: color 200ms;
}

button:active,
button:focus,
button:hover {
    color: #9d3918;
}

button.inactive {
    color: #c6c0af;
    cursor: inherit;
    pointer-events: none;
}

button.top {
    top: 20%;
    width: 12%;
    font-size: 0.9em;
    letter-spacing: 0.035em;
}

button.bottom {
    top: 76.8%;
    width: 12%;
    font-size: 0.8em;
    letter-spacing: 0.04em;
}

button.middle {
    display: flex;
    justify-content: center;
    top: 49.6%;
    width: 3.5%;
    height: 4.155%;
    border-radius: 50%;
    filter: drop-shadow(0 1px 1px #f4f1e5);
}

button.middle.inactive {
    filter: drop-shadow(0 -1px 0.1px #9c9173) drop-shadow(0 1px 0.1px #f0efeb);
}

button.middle > svg {
    width: 80%;
}

@-moz-document url-prefix() {
    button.middle > svg {
        width: 100%;
    }
}

button.left {
    left: 15%;
    padding: 0.45% 0.375% 0.65% 0.575%;
}

button.right {
    left: 77.3%;
    padding: 0.7% 0.45% 0.4% 0.5%;
}

.arrow {
    fill: currentColor;
    /* stroke: #3b3427; */
    /* stroke-width: 4px; */
}

button.first {
    left: 18.5%;
}

button.second {
    left: 34.1%;
}

button.third {
    left: 49.6%;
}

button.fourth {
    left: 65.2%;
}

.glow-ring {
    box-shadow: 0 0 2px #9d3918 inset, 0 0 2px 1px #9d3918;
}
