/* Fonts ----------------------------------------- */

@font-face {
    font-family: BasicManual;
    src: url('fonts/BasicManual.woff') format('woff'),
         url('fonts/BasicManual.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Guttenberg;
    src: url('fonts/Guttenberg.woff') format('woff'),
         url('fonts/Guttenberg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Outer Elements -------------------------------- */

body {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    background: #4e4a47;
    background: url('images/bg.jpg');
    transition: opacity 400ms;
    -webkit-tap-highlight-color: transparent;
}

#wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    text-align: center;
}

footer > .link {
    margin-left: 2em;
}

footer a,
footer .link {
    font: 400 0.8em Guttenberg, serif;
    letter-spacing: 0.04em;
    text-shadow: 0 -1px 2px #333, 0 1px 2px #222;
    color: rgba(217, 188, 116, 0.8);
    transition: color 80ms;
}

footer a:hover,
footer .link:hover {
    color: #d9bc74;
}

#avonbridge-frame,
#dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#dark {
    opacity: 0.2;
    pointer-events: none;
}

.dark {
    box-shadow: inset 0 0 500px black;
    box-shadow: inset 0 0 33vmax black;
}


/* Glitches -------------------------------------- */

.glitch-dark #dark {
    box-shadow: inset 0 0 1000px #001;
    box-shadow: inset 0 0 100vmax #001;
}

.glitch-dark #content {
    filter: brightness(0.5);
}

.glitch-snow #dark {
    box-shadow: inset 0 0 250px black;
    box-shadow: inset 0 0 20vmax black;
}

.glitch-snow #content {
    color: #85b77e;
    filter: brightness(1.2);
}

/* Mech ------------------------------------------ */

#mech-wrapper {
    display: inline-block;
    position: relative;
    margin: -2.5% -3% 0 0;
}

#mech-wrapper > * {
    position: absolute;
}

#mech {
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* filter: drop-shadow(0 0 10px black); */
}


/* Screen ---------------------------------------- */

#content,
#snow,
#shadow {
    top: 28%;
    left: 20%;
}

#snow,
#shadow {
    width: 55.95%;
    height: 48.75%;
    pointer-events: none;
}

#snow {
    background: url('images/snow.gif');
}

#shadow {
    border-radius: 10%;
    box-shadow: inset 0 0 0.5em 0.35em black;
}

#content {
    width: 48.6%;
    height: 39.4%;
    padding: 4%;
    /* overflow: -moz-scrollbars-none; */
    font: normal 0.8em BasicManual, monospace;
    line-height: 1.2em;
    color: #5f9b56;
    background-color: #262626;
    /* scroll-snap-destination: 0 30%;
    scroll-snap-type: mandatory; */
}

/* #content::-webkit-scrollbar { 
    display: none; 
} */


/* Gears, etc. ----------------------------------- */

#gear-top {
    top: 12%;
    left: 53.3%;
    width: 20%;
    transition: transform 1.6s linear;
}

#gear-left {
    top: 37.1%;
    left: 5.5%;
    width: 15%;
}

#gear-bottom {
    bottom: 4%;
    left: 27.2%;
    width: 20%;
    transition: transform 2.4s linear;
}

#key {
    left: 1.5%;
    top: 59%;
    width: 9%;
    height: 18%;
    border-radius: 30% 50% 50% 30%;
    cursor: pointer;
}

#elec {
    top: 4.5%;
    left: 29%;
    width: 7.5%;
    visibility: hidden;
}


/* Buttons --------------------------------------- */

button {
    height: 2.8em;
    padding: 0.5em 0;
    white-space: nowrap;
    color: #222;
    font-weight: bold;
    font-family: Guttenberg, serif;
    text-shadow: 0 -1px #3b3427, 0 1px #f4f1e5;
    text-align: center;
    background: none;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: color 200ms;
}

button:active,
button:focus,
button:hover {
    color: #9d3918;
}

button.inactive {
    color: #c6c0af;
    cursor: inherit;
    pointer-events: none;
}

button.top {
    top: 20%;
    width: 12%;
    font-size: 0.9em;
    letter-spacing: 0.035em;
}

button.bottom {
    top: 76.8%;
    width: 12%;
    font-size: 0.8em;
    letter-spacing: 0.04em;
}

button.middle {
    display: flex;
    justify-content: center;
    top: 49.6%;
    width: 3.5%;
    height: 4.155%;
    border-radius: 50%;
    filter: drop-shadow(0 1px 1px #f4f1e5);
}

button.middle.inactive {
    filter: drop-shadow(0 -1px 0.1px #9c9173) drop-shadow(0 1px 0.1px #f0efeb);
}

button.middle > svg {
    width: 80%;
}

@-moz-document url-prefix() {
    button.middle > svg {
        width: 100%;
    }
}

button.left {
    left: 15%;
    padding: 0.45% 0.375% 0.65% 0.575%;
}

button.right {
    left: 77.3%;
    padding: 0.7% 0.45% 0.4% 0.5%;
}

.arrow {
    fill: currentColor;
    /* stroke: #3b3427; */
    /* stroke-width: 4px; */
}

button.first {
    left: 18.5%;
}

button.second {
    left: 34.1%;
}

button.third {
    left: 49.6%;
}

button.fourth {
    left: 65.2%;
}

.glow-ring {
    box-shadow: 0 0 2px #9d3918 inset, 0 0 2px 1px #9d3918;
}

/* Content --------------------------------------- */

a,
.link {
    color: #67a55d;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: #30260d;  /* #3d3111 */
}

h3 {
    color: #e0c98f;
    font-family: BasicManual, monospace;
    font-weight: bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.contact > h3 {
    margin-top: 2em;
}

h3 a {
    padding: 0 0.1em;
    color: #e0c98f;
    letter-spacing: 0.12em;
    -webkit-tap-highlight-color: #23391f;
}

p,
ul {
    letter-spacing: 0.02em;
}

ul {
    padding-left: 0;
}

#content em {
    color: #52854a;
}


/* Roll ------------------------------------------ */

#roll h3 {
    margin-top: 5.5em;
    white-space: nowrap;
    /* scroll-snap-coordinate: 0 0; */
}

#roll h3:first-of-type {
    margin-top: 4em;
}

#roll p:last-of-type {
    -webkit-margin-after: 5.15em !important;
    margin-bottom: 6.5em;
}

.front-end #roll h3 {
    margin-top: 6.5em;
}

.front-end #roll h3:first-of-type {
    margin-top: 1.5em;
}

.more,
.science,
.language,
.psychology,
.wilderness {
    overflow-y: scroll;
}

.science p:first-of-type,
.language p:first-of-type,
.psychology p:first-of-type,
.wilderness p:first-of-type {
    margin-top: 0;
}

.science #roll p:last-of-type,
.language #roll p:last-of-type,
.psychology #roll p:last-of-type,
.wilderness #roll p:last-of-type {
    margin-bottom: 0.5em !important;
}


/* Blurb ----------------------------------------- */

.project-image,
.blurb {
    display: inline-block;
    width: 45%;
    height: 100%;
}

.blurb.left {
    float: left;
}

.blurb.right {
    width: 43.5%;
    float: right;
}

.blurb h3 {
    margin-top: 0;
    font-size: 0.9em;
}

.blurb ul {
    margin-top: 0;
    text-align: left;
    list-style-type: disc;
    font-size: 0.9em;
}

.blurb.right p {
    text-align: left;
}


/* Images ---------------------------------------- */

#sig {
    width: 50%;
    margin-top: 0.5em;
    filter: brightness(0.8);
}

.project-image {
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 0.3em;
    box-sizing: border-box;
}

.project-image {
    cursor: pointer;
    font-size: 0.65em;
    background-color: transparent;
    background-size: cover;
    box-shadow: 0 0 0.1em #0090bb;
}

#word-image {
    background-image: url('images/word.jpg');
    filter: sepia(0.33);
}

#street-art-image {
    background-image: url('images/street-art.jpg');
    filter: sepia(0.33);
}

#policompass-image {
    background-image: url('images/policompass.jpg');
    filter: sepia(0.66);
}

#slickpics-image {
    background-image: url('images/slickpics.jpg');
    filter: sepia(0.5);
}

#storytime-image {
    background-image: url('images/storytime.jpg');
    filter: sepia(0.66);
}

#avonbridge-image {
    color: #ffffed;
    background-image: url('images/avonbridge.jpg');
    background-position: 49% 0;
    filter: sepia(0.33);
}
